*{
    margin: 0px;
    padding: 0px;
}

.counter{
    margin-left: 283px;
    justify-content: center;    
}

.buttonhead{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

.clickmeat{
    flex: auto;
    padding: 10px;
    margin: 10px;
}