<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Recipe</h1>
    <div class="d-flex justify-content-around">
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">Logout</a>
    </div>
    <div class="main">
        <form action="/recipes/{{ recipe.id }}/edit " method="post">
            <p>
                Name:
                <input type="text" name="name" id="" value="{{ recipe.name }}">
            </p>
            <p>
                Description:
                <input type="text" name="description" id="" value="{{ recipe.description }}">
            </p>
            <p>
                Instructions:
                <input type="text" name="instructions" id="" value="{{ recipe.instructions }}">
            </p>
            <p>
                Date Made On:
                <input type="date" name="date_made" id="" value="{{ recipe.date_made }}">
            </p>
            <p>
                <p>Under 30 min?</p>
                <input type="radio" name="under_thirty" id="">
                <label for="html">Yes</label><br>
                <input type="radio" name="under_thirty" id="">
                <label for="html">No</label><br>
            </p>
            <button>Update</button>
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="text-danger">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>