<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Level2</title>
</head>
<body>

    <h1 style="color:black;text-align:center;">Welcome!</h1>

    <div style="display: flex; justify-content: center; flex-wrap: wrap;">
    {% for x in range(0,times,color): %}
        <div class = "div" style="margin: 10pt; height: 100px; width: 100px; padding: 10px; border: 2px solid black; background-color: #a0c5f8;"></div>
    {% endfor %}
            </div>

</body>
</html> 